.about_me_wrapper{
    display: flex;
    flex-direction: column;
}
.aboutme_edu_exp{
    width: 100%;
    height: 90vh;
    display:flex;
    flex-direction: row;
    //background-color: aqua;
    align-items: center;
    .canvas_wrapper{
        width: 45%;
        height: 70%;
        // background-color: pink;
        @media only screen and (max-width: $break-sm-width) {
            display: none;
        }
        .gamecanvas{
            width: 100%;
            height:100%;
        }
    }
    .aboutme_detail{
        width: 55%;
        height: 100%;
        //background-color: beige;
        @media only screen and (max-width: $break-sm-width) {
            width: 100%;
        }
        .aboutme_section_wrapper{
            display: flex;
            flex-direction: column;
            width:100%;
            height:200%;
            scroll-snap-type: y mandatory;
            .aboutme_detail_section{
                width: 100%;
                height:100%;
                scroll-snap-align:start;
                //border: 1px solid black;
            }
        }
    }
}

.education_section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .graduation_image{
        display: none;
        width:45vw;
        height:30vw;
        //background-color: aquamarine;
        background-image: url('../../img/about_me/graduation_no_bg.png');
        background-size: cover;
        background-position: center center;
        @media only screen and (max-width: $break-sm-width) {
            display: block;
        }
        @media only screen and (max-width: $break-xsm-width) {
            width:60vw;
            height:40vw;
        }
    }
    .edu_detail{
        width:100%;
        height:45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .edu_header{
            height: 25%;
            font-family: 'Lora-Bold';
            font-size: 40px;
            display: flex;
            align-items: center;
            @media only screen and (max-width: $break-xsm-width) {
                font-size:30px;
            }
        }
        .edu_contain{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 100%;
            height:75%;
            .edu_detail_wrapper{
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                // background-color: azure;
                height: 40%;
                .timeline{
                    width:16%;
                    font-size: medium;
                    color: #555555;
                    display: flex;
                    justify-content: flex-end;
                    margin-right: 5%;
                    min-width: 80px;
                    @media only screen and (max-width: $break-lg-width) {
                        width: 20%;
                    }
                    @media only screen and (max-width: $break-tab-port-width) {
                        width: 24%;
                    }
                    @media only screen and (max-width: $break-xsm-width) {
                        font-size:small;
                        margin-right: 3%;
                        min-width: 62px;
                    }
                }
                .edu_detail_name_faculty{
                    display: flex;
                    flex-direction: column;
                    .edu_name{
                        align-self: flex-start;
                        font-size: 15px;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: large;
                        font-weight: bold;
                        line-height: 1.2rem;
                        @media only screen and (max-width: $break-xsm-width) {
                            font-size:medium;
                            line-height: 1.1rem;
                        }
                    }
                    .edu_faculty{
                        align-self: flex-start;
                        font-size: 15px;
                        color: #222222;
                        @media only screen and (max-width: $break-xsm-width) {
                            font-size:small;
                        }
                    }
                }
            }
        }
    }
}

.experience_section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .home_office_image{
        display: none;
        width:45vw;
        height:30vw;
        //background-color: aquamarine;
        background-image: url('../../img/about_me/home_office_no_bg.png');
        background-size: cover;
        background-position: center center;
        @media only screen and (max-width: $break-sm-width) {
            display: block;
        }
        @media only screen and (max-width: $break-xsm-width) {
            width:60vw;
            height:40vw;
        }
    }
    .experience_detail_wrapper{
        width:80%;
        height:45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        //background-color: aquamarine;
        @media only screen and (max-width: $break-tab-port-width) {
            width:90%;
        }
        @media only screen and (max-width: $break-xsm-width) {
            width:100%;
        }
        .exp_header{
            height: 25%;
            font-family: 'Lora-Bold';
            font-size: 40px;
            display: flex;
            align-items: center;
            @media only screen and (max-width: $break-xsm-width) {
                font-size:30px;
            }
        }
        .exp_contain{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height:75%;
            //background-color: bisque;
            .basic_exp_content{
                display: flex;
                flex-direction: column;
                align-items: center;
                .company_title{
                    display: flex;
                    align-items: center;
                    .company_logo_wrapper{
                        // background-color: burlywood;
                        .company_logo{
                            width:30px;
                            aspect-ratio: 1/1;
                            background-image: url('../../img/logo/national_pen.png');
                            background-size: cover;
                            border-radius: 50%;
                            margin:0 4vw 0 0;
                            @media only screen and (max-width: $break-xsm-width) {
                                font-size:25px;
                            }
                        }
                    }
                    .company_name{
                        font-size: 2rem;
                        font-weight: bold;
                        position:relative;
                        right:3vw;
                        @media only screen and (max-width: $break-xsm-width) {
                            font-size:1.5rem;
                        }
                    }
                }
                .exp_position{
                    font-size: 1.2rem;
                    font-weight: bold;
                    @media only screen and (max-width: $break-lg-width) {
                        font-size:1.05rem;
                    }
                    @media only screen and (max-width: $break-xsm-width) {
                        font-size:0.8rem;
                    }
                }
                .exp_duration{
                    font-size: 10px;
                }
            }
            .my_role{
                color:#555555;
                text-align: center;
                font-size: 1rem;
                line-height: 1.2rem;
                @media only screen and (max-width: $break-xsm-width) {
                    font-size:0.9rem;
                }
            }
        }
    }
}

.section_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:45%;
    .img_wrapper{
        width: 40%;
        height:100%;
        //background-color: azure;
        display: flex;
        align-items: center;
        justify-content: center;
        .hobby_img{
            height:80%;
            aspect-ratio: 1/1;
            box-shadow: 3px 5px 8px black;
            background-size: cover;
            background-position: center center;
            @media only screen and (max-width: $break-xsm-width) {
                width: 100%;
            }
        }
    }
    .hobby_content{
        width: 60%;
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 5%;
        @media only screen and (max-width: $break-sm-width) {
            width: 80%;
        }
        @media only screen and (max-width: $break-xsm-width) {
            width: 100%;
        }
        .content_tittle{
            font-size: 2.2rem;
            font-weight: bold;
            width: 100%;
            text-align: center;
            color: azure;
            @media only screen and (max-width: $break-tab-port-width) {
                font-size: 1.9rem;
            }
            @media only screen and (max-width: $break-sm-width) {
                font-size: 1.6rem;
            }
            @media only screen and (max-width: $break-xsm-width) {
                font-size: 1.3rem;
            }
        }
        .content{
            font-size: 1.1rem;
            @media only screen and (max-width: $break-tab-port-width) {
                font-size: 1rem;
            }
            @media only screen and (max-width: $break-sm-width) {
                font-size: 0.95rem;
            }
            @media only screen and (max-width: $break-xsm-width) {
                font-size: 0.9rem;
            }
        }
    }
}
.hobby{
    width: 100%;
    height:90vh;
    margin-top: 105vh; //temporary solution
    display: flex;
    align-items: center;
    justify-content: center;
    @media only screen and (max-width: $break-sm-width) {
        background-color: $orange-color;
        color: white;
    }
    .hobby_wrapper{
        width: 70%;
        height:90%;
        //background-color: aliceblue;
        @media only screen and (max-width: $break-lg-width) {
            width: 75%;
        }
        @media only screen and (max-width: $break-tab-port-width) {
            width: 80%;
        }
        @media only screen and (max-width: $break-sm-width) {
            height:95%;
            width: 100%;
        }
        .hobby_main_heading{
            width: 100%;
            height: 10%;
            font-family: 'Lora-Bold';
            font-size: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            @media only screen and (max-width: $break-sm-width) {
                font-size:40px;
            }
            @media only screen and (max-width: $break-xsm-width) {
                font-size:30px;
            }
        }
        .trek_wrapper{
            flex-direction: row;
            @media only screen and (max-width: $break-sm-width) {
                flex-direction: column;
            }
            .trek_img_wrapper{
                .trek_img{
                    background-image: url('../../img/about_me/trek.jpeg');
                }
            }
            .trek_content{
                align-items: center;
                @media only screen and (max-width: $break-sm-width) {
                    align-items: center;
                }
            }
        }
        .dance_wrapper{
            flex-direction:row-reverse;
            @media only screen and (max-width: $break-sm-width) {
                flex-direction: column;
            }
            .dance_img_wrapper{
                .dance_img{
                    background-image: url('../../img/about_me/trek.jpeg');
                }
            }
            .dance_content{
                align-items: center;
                @media only screen and (max-width: $break-sm-width) {
                    align-items: center;
                }
            }
        }
    }
}