.aboutme_wrapper{
    width: 100%;
    height: 90vh;
    display:flex;
    flex-direction: row;
    //background-color: aqua;
    align-items: center;
    .canvas_wrapper{
        width: 45%;
        height: 70%;
        // background-color: pink;
        .gamecanvas{
            width: 100%;
            height:100%;
        }
    }
    .aboutme_detail{
        width: 55%;
        height: 100%;
        //flex-grow: 1;
        //background-color: beige;
        .aboutme_section_wrapper{
            display: flex;
            flex-direction: column;
            width:100%;
            height: 300%;
            .aboutme_detail_section{
                width: 100%;
                height:100%;
                //border: 1px solid black;
            }
            .more_section{
                //background-color:khaki;
            }
        }
    }
}

.education_section{
    display:flex;
    justify-content: center;
    align-items: center;
    .edu_detail{
        width:100%;
        height:45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .edu_header{
            height: 25%;
            font-family: 'Lora-Bold';
            font-size: 40px;
            display: flex;
            align-items: center;
        }
        .edu_contain{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 100%;
            height:75%;
            .edu_detail_wrapper{
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                // background-color: azure;
                height: 40%;
                .timeline{
                    width:20%;
                    font-size: medium;
                    color: #555555;
                    display: flex;
                    justify-content: flex-end;
                    margin-right: 5%;
                }
                .edu_detail_name_faculty{
                    display: flex;
                    flex-direction: column;
                    .edu_name{
                        align-self: flex-start;
                        font-size: 15px;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: large;
                        font-weight: bold;
                    }
                    .edu_faculty{
                        align-self: flex-start;
                        font-size: 15px;
                        color: #222222;
                    }
                }
            }
        }
    }
}

.experience_section{
    display:flex;
    justify-content: center;
    align-items: center;
    .experience_detail_wrapper{
        width:80%;
        height:45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        //background-color: aquamarine;
        .exp_header{
            height: 25%;
            font-family: 'Lora-Bold';
            font-size: 40px;
            display: flex;
            align-items: center;
        }
        .exp_contain{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height:75%;
            //background-color: bisque;
            .basic_exp_content{
                display: flex;
                flex-direction: column;
                align-items: center;
                .company_title{
                    display: flex;
                    align-items: center;
                    .company_logo_wrapper{
                        // background-color: burlywood;
                        .company_logo{
                            width:3vw;
                            aspect-ratio: 1/1;
                            background-image: url('../../img/logo/national_pen.png');
                            background-size: cover;
                            border-radius: 50%;
                            margin:0 4vw 0 0;
                        }
                    }
                    .company_name{
                        font-size: 30px;
                        font-weight: bold;
                        position:relative;
                        right:3vw;
                    }
                }
                .exp_position{
                    font-size: 15px;
                    font-weight: bold;
                }
                .exp_duration{
                    font-size: 10px;
                }
            }
            .my_role{
                color:#555555;
                text-align: center;
            }
        }
    }
}

.stopScroll{
    width: 100vw;
    overflow: hidden;
}