/* inspiration colors
--yellow-color : #FFC330
--orange-color : #FF630
--lightorange-color : #FF9900 */

.envelop_wrapper{
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  background-color: aliceblue;
}

.envelop{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width:70%;
  max-width: 800px;
  height:90%;
  top:20%;
  @media only screen and (max-width: $break-tab-port-width) {
    width:85%;
  }
  @media only screen and (max-width: $break-sm-width) {
    width:100%;
  }
  .env_top_side{
    width:100%;
    height:34%;
    transform-style: preserve-3d;
  }
  .env_body{
    width: 100%;
    height:66%;
    border-radius: 0px 0px 20px 20px;
    position:relative;
    transform-style: preserve-3d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    .feedback_form{
      width: 90%;
      height: 80%;;
      z-index: 2;
      transform: rotateZ(-5deg);
      position: relative;
      top:-85%;
      box-shadow: 0 4px 8px;
    }
    .envelop_bg{
      width:100%;
      height:100%;
      background-color: #267b9e;
      position: absolute;
      border-radius: 0 0 3% 3%;
      top:0;
    }
    .open_envelop{
      width: 100%;
      height:100%;
      backface-visibility: hidden;
      position:absolute;
      z-index: 3;
      top:0;
    }
  }
}

.feedback_form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
  background-color: $contact_letter;
  .user_name{
    align-self: flex-start;
    width: 30%;
    margin-left: 5%;
    margin-top: 2%;
    outline: none;
    border: none;
    border-bottom: 1px solid #333;
    background-color: $contact_letter;
    font-size: 0.9rem;
    @media only screen and (max-width: $break-sm-width) {
      font-size:0.8rem;
      width: 40%;
    }
    &:focus{
      border: none;
      border-bottom: 2px solid #333;
    }
  }
  .user_email{
    align-self: flex-start;
    width: 30%;
    margin-left: 5%;
    margin-top: 1%;
    outline: none;
    border: none;
    border-bottom: 1px solid #333;
    background-color: $contact_letter;
    font-size: 0.9rem;
    @media only screen and (max-width: $break-sm-width) {
      font-size:0.8rem;
      width: 40%;
    }
    &:focus{
      border: none;
      border-bottom: 2px solid #333;
    }
  }
  .subject{
    margin:2% 0;
    width: 65%;
    display: flex;
    flex-direction: row;
    @media only screen and (max-width: $break-sm-width) {
      width: 85%;
    }
    .subject_label{
      width: fit-content;
      font-size: 1rem;
      @media only screen and (max-width: $break-sm-width) {
        font-size:0.8rem;
      }
    }
    .user_subject{
      flex-grow: 1;
      outline: none;
      border: none;
      border-bottom: 1px solid #333;
      background-color: $contact_letter;
      font-size: 1rem;
      @media only screen and (max-width: $break-sm-width) {
        font-size:0.8rem;
        width: 100%;
      }
    }
  }
  .user_message{
    width: 70%;
    height:30%;
    font-size: 0.9rem;
    outline: none;
    border-bottom: 1px solid #333;
    background-color: $contact_letter;
    @media only screen and (max-width: $break-sm-width) {
      font-size:0.8rem;
    }
  }
  .send_button{
    align-self: flex-end;
    margin-right: 15%;
    font-size: 1.1rem;
    width:15%;
    height: 10%;
    border: none;
    color: white;
    background-color: #267b9e;
    &:hover{
      font-weight: bold;
    }
    @media only screen and (max-width: $break-sm-width) {
      font-size:0.8rem;
      width: 20%;
    }
  }
}

.success_msg{
  font-size: 2.5rem;
  font-weight: 640px;
  color: green;
  position: absolute;
}