.layer{
  max-width: 100%;
  width: 100vw;
  height:91vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*first layer start*/
.red{
  background-image: url("../../img/homepage/black_background.jpg");
  background-size: cover;
  background-position : center center;
  position:relative;
  .introduction{
    width: 60%;
    height: 60%;
    //background-color:darkslategrey;
    align-self: flex-start;
    position: relative;
    left:5vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    @media only screen and (max-width: $break-tab-port-width){
      align-items: center;
      width: 70%;
      height:40%;
      left:15%;
      top:-30%;
    }
    .intro_name{
      font-size: 3.2rem;
      color: white;
      font-weight: bold;
      @media only screen and (max-width: $break-sm-width){
        font-size:1.8rem;
      }
      @media only screen and (max-width: $break-xsm-width){
        font-size:1.6rem;
      }
    }
    .intro_position{
      font-size: 2rem;
      color:$orange-color;
      font-weight: bold;
      @media only screen and (max-width: $break-sm-width){
        font-size: 1.4rem;
      }
    }
    .intro_content{
      color: white;
      @media only screen and (max-width: $break-tab-port-width){
        text-align: center;
      }
    }
    .download{
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      @media only screen and (max-width: $break-sm-width){
        visibility: hidden;
      }
      .download_button{
        background-color: $orange-color;
        color: white;
        padding: 10px;
        border-radius: 4px;
      }
    }
  }
  .profile_pic{
    width:40%;
    height:80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; // for resume button
    position:absolute;
    right:5vw;
    bottom:0;
    background-image: url("../../img/homepage/profile_b&w.png"); //set aspect ratio to 8:10
    background-size: cover;
    background-position : top center;
    @media only screen and (max-width: $break-lg-width){
      width: 45%;
      height: 70%;
    }
    @media only screen and (max-width: $break-tab-port-width){
      width: 50%;
      height:60%;
      right: 30%; //to keep in center
    }
    @media only screen and (max-width: $break-sm-width){
      width: 73%;
      right: 15%; // to keep in center
    }
    @media only screen and (max-width: $break-xsm-width){
      width: 90%;
      right: 5%; // to keep in center
    }
    .download_button{
      background-color: $orange-color;
      color: white;
      padding:10px;
      text-align: center;
      border-radius: 4px;
      visibility: hidden;
      margin-bottom: 20px;
      @media only screen and (max-width: $break-sm-width){
        visibility: visible;
      }
    }
  }
}

.scrolldown{
  position:absolute;
  bottom: 10%;
  left:5%;
}

.wrapper{
  width:300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidebox{
  overflow: hidden;
}

/* first layer end */

.yellow{
  background-image: linear-gradient(#201f1f 10%,$black-bg-color);
  color: white;
}

.purple{
  background-color: $black-bg-color;
  align-items: normal;
  z-index:2;
  @media only screen and (max-width: $break-xsm-width){
    visibility: hidden;
    height:0;
  }
}

.blue{
  background-color: white;
}

.fixedToTop{
  position: fixed;
  top: 10vh;
  z-index: -1;
}

.stickyToTop{
  position: sticky;
  top:0;
}

.hide{
  display: none;
}


.whole_collection{
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    &:before, &:after { /* This is work around for margin-left */
      content: '';
      width: 8vw;
      height: 100%;
      display: inline-block;
      //background-color: aquamarine;
    }
    .mini_collection{
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      overflow: hidden;
      width:45%;
      .mini{
        width:30vw;
        height:30vh;
        margin: 3vh;
        background-color: black;
        color: rgb(255, 245, 245);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
        text-align: center;
        border-radius: 25px;
      }
    }
    .letterT{
      width: 2.4vw;
      height:80vh;
      margin:3.8vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      @media only screen and (max-width: $break-tab-port-width){
        width:3.4vw;
        //margin:3.3vw;
      }
      @media only screen and (max-width: $break-sm-width){
        width: 5vw;
        //margin:2.5vw;
      }
      .upperline{
        width:100%;
        padding-top: 100%; // for equal width and height
        background-color: $orange-color;
        border-radius: 1.2vw 1.2vw 0 0;
        @media only screen and (max-width: $break-tab-port-width){
          border-radius: 2.7vw 2.7vw 0 0;
        }
        @media only screen and (max-width: $break-sm-width){
          border-radius: 2.5vw 2.5vw 0 0;
        }
      }
      .middleline{
        width: 100%;
        height: 100%;
        background-color: $orange-color;
      }
    }
}

.aboutMe_mini{
    background-color: salmon;
    background-image: url('../../img/mini_page/aboutMe_mini.jpg');
    z-index: 2;
}

.skill_mini{
    background-color: salmon;
    background-image: url('../../img/mini_page/skill_mini.jpg');
    z-index: 3;
}

.project_mini{
    background-color: salmon;
    background-image: url('../../img/mini_page/project_mini.jpg');
    z-index: 2;
}

.game_mini{
    background-color: salmon;
    background-image: url('../../img/mini_page/game_mini.jpg');
    z-index: 3;
}
