.layer{
  max-width: 100%;
  width: 100vw;
  height:91vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*first layer start*/
.hero_layer{
  background-image: url("../../img/homepage/black_background.jpg");
  background-size: cover;
  background-position : center center;
  position:relative;
  .introduction{
    width: 50%;
    height: 60%;
    //background-color:darkslategrey;
    align-self: flex-start;
    position: relative;
    left:5vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    @media only screen and (max-width: $break-tab-port-width){
      align-items: center;
      width: 70%;
      height:40%;
      left:15%;
      top:-30%;
    }
    @media only screen and (max-width: $break-xsm-width){
      width: 90%;
      left:5%;
    }
    .intro_name{
      font-size: 3.2rem;
      color: white;
      font-weight: bold;
      @media only screen and (max-width: $break-sm-width){
        font-size:1.8rem;
      }
      @media only screen and (max-width: $break-xsm-width){
        font-size:1.6rem;
      }
    }
    .intro_position{
      font-size: 2rem;
      color:$orange-color;
      font-weight: bold;
      @media only screen and (max-width: $break-sm-width){
        font-size: 1.4rem;
      }
    }
    .intro_content{
      color: white;
      font-size: 1rem;
      line-height: 1.5rem;
      margin-top:2.5vh;
      @media only screen and (max-width: $break-tab-port-width){
        text-align: center;
      }
      @media only screen and (max-width: $break-xsm-width){
        font-size: 0.8rem;
        line-height: 1rem;
        margin-top: 2vh;
      }
    }
    .download{
      margin-top: 5vh;
      @media only screen and (max-width: $break-sm-width){
        display: none;
      }
      .download_button{
        background-color: $orange-color;
        color: white;
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
  .profile_pic{
    width:40%;
    height:80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; // for resume button
    position:absolute;
    right:5vw;
    bottom:0;
    background-image: url("../../img/homepage/profile_b&w.png"); //set aspect ratio to 8:10
    background-size: contain;
    background-repeat: no-repeat;
    background-position : top center;
    @media only screen and (max-width: $break-lg-width){
      width: 45%;
      height: 70%;
    }
    @media only screen and (max-width: $break-tab-port-width){
      width: 50%;
      height:60%;
      right: 25%; //to keep in center
    }
    @media only screen and (max-width: $break-sm-width){
      width: 74%;
      right: 13%; // to keep in center
    }
    @media only screen and (max-width: $break-xsm-width){
      width: 90%;
      right: 5%; // to keep in center
    }
    .download_button{
      background-color: $orange-color;
      color: white;
      padding:10px;
      text-align: center;
      border-radius: 4px;
      visibility: hidden;
      margin-bottom: 20px;
      cursor: pointer;
      @media only screen and (max-width: $break-sm-width){
        visibility: visible;
      }
    }
  }
}

.scrolldown{
  position:absolute;
  bottom: 10%;
  left:5%;
}

.wrapper{
  width:300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidebox{
  overflow: hidden;
}

/* first layer end */

.aboutMelayer{
  background-color: white;
  color:black;
  display: flex;
  align-items: center;
  justify-content: center;
  height:90vh;
  .aboutMe_card{
    display: flex;
    flex-direction:row-reverse;
    width: 80%;
    height: 60%;
    position: relative;
    top:5%;
    @media only screen and (max-width: $break-tab-port-width){
      width: 90%;
    }
    @media only screen and (max-width: $break-sm-width){
      flex-direction: column;
      align-items: center;
      height: 95%;
      width: 90%;
      top:0px;
    }
    @media only screen and (max-width: $break-sm-width){
      width: 100%;
    }
    .aboutMe_card_detail{
      display: flex;
      flex-direction: column;
      width: 65%;
      height: 100%;
      align-items: center;
      @media only screen and (max-width: $break-sm-width){
        width: 100%;
        height:65%
      }
      .aboutMe_card_tittle{
        height: 20%;
        width: 100%;
        font-size: 4.2rem;
        font-weight: bolder;
        display: flex;
        align-items: center;
        justify-content: center;
        //background-color: bisque;
        @media only screen and (max-width: $break-tab-port-width){
          font-size: 3.5rem;
        }
        @media only screen and (max-width: $break-sm-width){
          font-size: 3.5rem;
          height: 10%;
          font-size: 2.5rem;
        }
      }
      .aboutMe_card_content_wrapper{
        width: 100%;
        height: 80%;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        @media only screen and (max-width: $break-sm-width){
          height: 90%;
          align-items: flex-start;
          padding-top: 10%;
        }
        //background-color: aquamarine;
        .aboutMe_card_content{
          width: 85%;
          font-size: 1.2rem;
          line-height: 1.7rem;
          @media only screen and (max-width: $break-tab-port-width){
            font-size: 1.2rem;
            line-height: 1.3rem;
          }
          @media only screen and (max-width: $break-sm-width){
            width: 90%;
            font-size: 1.1rem;
            line-height: 1.2rem;
          }
          @media only screen and (max-width: $break-xsm-width){
            width: 95%;
            font-size: 1rem;
            line-height: 1.1rem;
          }
        }
      }
    }
    .aboutMe_card_img_wrapper{
      width:35%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      @media only screen and (max-width: $break-sm-width){
        width: 90%;
        height: 35%;
      }
      .aboutMe_card_img{
        width: 100%;
        aspect-ratio: 1/1;
        background-image: url('../../img/homepage/aboutMe_img.jpg');
        background-size: cover;
        background-position: center center;
        @media only screen and (max-width: $break-sm-width){
          height: 100%;
          width: auto;
          aspect-ratio:1/1;
        }
      }
    }
    .aboutMeLink{
      color:$orange-color;
      position: absolute;
      bottom: 7%;
      left: 5%;
      font-size: 1.5rem;
      font-weight: 500;
      &:hover{
        font-weight:bold;
      }
      @media only screen and (max-width: $break-tab-port-width){
        font-size: 1.3rem;
      }
      @media only screen and (max-width: $break-sm-width){
        bottom: 10%;
      }
    }
  }
}

.purple{
  background-color: $black-bg-color;
  align-items: normal;
  z-index:2;
}

.blue{
  background-color: white;
}

.fixedToTop{
  position: fixed;
  top: 10vh;
  z-index: -1;
}

.stickyToTop{
  position: sticky;
  top:0;
}

.hide{
  display: none;
}


.whole_collection{
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    &:before, &:after { /* This is work around for margin-left */
      content: '';
      width: 8vw;
      height: 100%;
      display: inline-block;
      //background-color: aquamarine;
      @media only screen and (max-width: $break-xsm-width){
        width: 0vw;
      }
    }
    @media only screen and (max-width: $break-xsm-width){
      flex-direction: column;
    }
    .mini_collection_wrapper{
      width:45%;
      height:100%;
      display: flex;
      align-items: center;
      justify-content: center;
      @media only screen and (max-width: $break-xsm-width){
        width: 95%;
      }
      .mini_collection{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
        width:100%;
        height:80%;
        @media only screen and (max-width: $break-xsm-width){
          height: 100%;
        }
        .mini{
          width:100%;
          height:50%;
          margin: 3vh;
          background-color:$mini-card-bg-color;
          color: white;
          border-radius: 5%;
          box-shadow: 1px 5px 8px black;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .mini_topic{
            width:100%;
            height:30%;
            font-size: 1.4rem;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            @media only screen and (max-width: $break-tab-port-width){
              height: 25%;
              font-size: 1.2rem;
            }
            .large_screen{
              @media only screen and (max-width: $break-sm-width){
                display: none;
              }
            }
            .small_screen{
              display: none;
              @media only screen and (max-width: $break-sm-width){
                display: inline;
              }
            }
          }
          .mini_divider{
            width:80%;
            color:aliceblue;
          }
          .mini_content{
            width:90%;
            height:70%;
            font-size: 1rem;
            line-height: 1.3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            @media only screen and (max-width: $break-md-width){
              font-size: 0.9rem;
            }
            @media only screen and (max-width: $break-tab-port-width){
              height: 75%;
            }
            .large_screen{
              @media only screen and (max-width: $break-sm-width){
                display: none;
              }
            }
            .small_screen{
              display: none;
              @media only screen and (max-width: $break-sm-width){
                display: inline;
              }
            }
          }
        }
      }
    }
    .letterT{
      width: 2.4vw;
      height:80vh;
      margin:3.8vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      @media only screen and (max-width: $break-tab-port-width){
        width:3.4vw;
      }
      @media only screen and (max-width: $break-sm-width){
        width: 5vw;
      }
      @media only screen and (max-width: $break-xsm-width){
        display: none;
      }
      .upperline{
        width:100%;
        padding-top: 100%; // for equal width and height
        background-color: $orange-color;
        border-radius: 1.2vw 1.2vw 0 0;
        @media only screen and (max-width: $break-tab-port-width){
          border-radius: 2.7vw 2.7vw 0 0;
        }
        @media only screen and (max-width: $break-sm-width){
          border-radius: 2.5vw 2.5vw 0 0;
        }
      }
      .middleline{
        width: 100%;
        height: 100%;
        background-color: $orange-color;
      }
    }
}

@media screen and (max-width: $break-sm-width) {
  .large-screen{
    display: none; /* Hide large screen text on small screens */
  }
  .small-screen{
    display: inline; /* Show small screen text on small screens */
  }
}

// .aboutMe_mini{
//     background-color: salmon;
//     background-image: url('../../img/mini_page/aboutMe_mini.jpg');
//     z-index: 2;
// }

// .skill_mini{
//     background-color: salmon;
//     background-image: url('../../img/mini_page/skill_mini.jpg');
//     z-index: 3;
// }

// .project_mini{
//     background-color: salmon;
//     background-image: url('../../img/mini_page/project_mini.jpg');
//     z-index: 2;
// }

// .game_mini{
//     background-color: salmon;
//     background-image: url('../../img/mini_page/game_mini.jpg');
//     z-index: 3;
// }
