.education_screen{
    background-color: bisque;
    width:100%;
    height:90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading{
    font-size: 50px;
    position: absolute;
    top:20%;
    left:10vw;
}

.edu_wrapper{
    background-color: blanchedalmond;
    width:80vw;
    height:70vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.edu_symbol{
    background-color: cadetblue;
    width:20vw;
    height:100%;
}
.edu_logo_section{
    background-color: silver;
    width:20vw;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.edu_logo{
    width:20vw;
    height:20vh;
    position:absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.school_logo{
    background-color: orange;
    background-image: url(../../img/edu_logo/school.jpg);
}
.secondary_logo{
    background-color: brown;
    background-image: url(../../img/edu_logo/secondary.png);
}
.college_logo{
    background-color: #8a2be2;
    background-image: url(../../img/edu_logo/college_logo.png);
}

.edu_detail_section{
    background-color: green;
    width:40vw;
    height:100%;
}
.detail_content{
    background-color: palegreen ;
    width: 90%;
    height:122vh;
    display: flex;
    flex-direction: column;
}
.blank_detail{
    width: 100%;
    height: 22vh;
    background-color: azure;
}
.edu_detail{
    width:100%;
    height:26vh;
    background-color: aqua;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*school or college detail */
.date{
    font-size: 1.5em;
    color: rgba(32, 32, 32, 0.45);
}
.org_name{
    font-size: 2.5em;
    color: black;
}
.location{
    font-size: 1.2em;
    color: rgb(88, 88, 88);
    position:relative;
    left: 20vw;
}

/* end of school or college detail */

.work_screen{
    background-color: aquamarine;
    width:100%;
    height:90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.work_wrapper{
    width:80%;
    height:80%;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}
.logo_description{
    width:50%;
    height:100%;
}
.company_logo{
    width:100%;
    height:40%;
    background-color: brown;
}
.company_description{
    width:100%;
    height:60%;
    background-color: blue;
}


.skill_screen{
    background-color: cornsilk;
    width:100%;
    height:70vh;
}