:root{
    --fontSize-email: 2em;
}
.footer{
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
}

.sargam{
    display:flex;
}
  
.Sletter{
    display:flex;
    flex-direction: column;
    width: 10vw;
    min-width: 60px;
    max-width: 100px;
}
  
.STop{
    width:100%;
}
.SMiddle{
    z-index:3;
    width: 100%;
}
.SBottom{
    width:100%;
}
  
.myName{
    position:absolute;
    left:0px;
    margin-left: 8vw;
}
  
.leftname{
    font-family: fantasy;
    font-size:30px;
    position:absolute;
    bottom: 15px;
    right: -80px;
}
  
.amang{
    bottom: -25px;
    color: var(--orange-T-color);
}

/* social media */

.email_address{
    text-align: center;
    text-decoration: underline;
    font-size: var(--fontSize-email);
    font-style: italic;
    text-decoration-color: var(--orange-T-color);
    text-decoration-style: solid;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    :root{
        --fontSize-email: 1em;
    }
  }

.social_media{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 50vw;
}

.handle_collection{
    width: 27vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.handles{
    width: 9vh;
    height: 9vh;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 5px solid var(--orange-T-color);
    margin: 3vh;
}
.handles:hover{
    cursor: pointer;
    scale: 1.2;
}

.fb{
    background-image: url('../img/social_media/facebook_b&w.png');
}
.fb:hover{
    background-image: url('../img/social_media/facebook.png');
}

.ln{
    background-image: url('../img/social_media/linkedin_b&w.png');
}
.ln:hover{
    background-image: url('../img/social_media/linkedin.png');
}

.insta{
    background-image: url('../img/social_media/instagram_b&w.png');
}
.insta:hover{
    background-image: url('../img/social_media/instagram.png');
}

.git{
    background-image: url('../img/social_media/github_b&w.png');
}
.git:hover{
    background-image: url('../img/social_media/github.png');
}
  