.layer{
  width: 100%;
  height:91vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*first layer start*/
.red{
  z-index: 5;
  background-image: url("../img/div1background.png");
  background-size: cover;
  background-position : center right;
}

.wrapper{
  width:300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidebox{
  overflow: hidden;
}

.welcome{
  position: relative;
  font-size: 72px;
  color:white;
}

/* first layer end */

.yellow{
  background-image: linear-gradient(#201f1f 10%,#060606f5);
  color: white;
}

.purple{
  background-color: #060606f5;
  align-items: normal;
  z-index:2;
}

.blue{
  background-color: white;
}

.fixedToTop{
  position: fixed;
  top: 10vh;
  z-index: -1;
}

.stickyToTop{
  position: sticky;
  top:0;
}

.hide{
  display: none;
}


.whole_collection{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10vw;
}

.mini_collection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.mini{
    width:30vw;
    height:30vh;
    margin: 3vh;
    background-color: black;
    color: rgb(255, 245, 245);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;
    border-radius: 25px;
}

.aboutMe_mini{
    background-color: salmon;
    background-image: url('../img/mini_page/aboutMe_mini.jpg');
    z-index: 2;
}

.skill_mini{
    background-color: salmon;
    background-image: url('../img/mini_page/skill_mini.jpg');
    z-index: 3;
}

.project_mini{
    background-color: salmon;
    background-image: url('../img/mini_page/project_mini.jpg');
    z-index: 2;
}

.game_mini{
    background-color: salmon;
    background-image: url('../img/mini_page/game_mini.jpg');
    z-index: 3;
}

.letterT{
    width: 4vh;
    height:80vh;
    margin:2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.upperline{
    height:4vh;
    width:4vh;
    background-color: #ffac00;
    border-radius: 2vh 2vh 0 0;
}
.middleline{
    width: 100%;
    height: 100%;
    background-color: #ffac00;
}
