@import './common/_colors.scss';
@import './common/_variable.scss';
@import './common/_font.scss';
@import './components/game.scss';
@import './components/homepage.scss';
@import './components/aboutMe.scss';
@import './components/navigation.scss';
@import './components/footer.scss';
@import './components/skill.scss';
@import './components/contact.scss';

body{
    overflow-x: hidden;
    margin: 0;
}

html::-webkit-scrollbar{
    width: 0.8vw;
    max-width: 10px;
}

html::-webkit-scrollbar-thumb{
    background-color: $orange-color;
    border-radius: 0.5vw;
}

html::-webkit-scrollbar-track{
    background-color: $scrollbar_track_color;
}

.disable-scrolling{
    width: 100vw;
    overflow: hidden;
}