$orange-color:#fcb41a;
$black-bg-color: #060606;
$mini-card-bg-color:#1A1919;
$scrollbar_track_color: #ebebeb;
$dark_purple:#2b2d42;
$light_blue_background: #f2f4ff;
$contact_letter: #FCE883;

/* inspiration colors
$yellow-color : #FFC330;
$orange-color2 : #FF630;
$lightorange-color : #FF9900;

/* Contact form start */