@import 'styles/game.css';
@import 'styles/homepage.css';
@import 'styles/navigation.css';
@import 'styles/footer.css';
@import 'styles/skill.css';

body{
  overflow-x: hidden;
  margin: 0;
}

/* Contact form start */

form{
  align-items: center;
  justify-content: center;
}

input, textarea{
  width:40%;
  margin-bottom: 20px;
}

/* Contact Form End */

/* envelop start */

.envelop{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  transition-duration: 3s;
}

.feedback_form{
  background-color: rgb(204, 204, 204);
  width: 45vw;
  height: 35vh;
  position:absolute;
  top: 0vh;
  z-index: 3;
  transform: rotateZ(-3deg);
  transition: all ease-in 600ms;
}

input[type=text] {
  border: none;
  background-color: rgb(204, 204, 204);
  border-bottom: 2px solid red;
}

input[type=text]:focus {
  border: none;
  background-color: rgb(204, 204, 204);
  border-bottom: 2px solid yellow;
}

.env-top-total{
  width:50vw;
  height:40vh;
  position: relative;
  top: 20vh;
  transition-duration: 2s;
  transition: all ease-out 1000ms;
  transform-style: preserve-3d;
}
.env-top{
  height: 50%;
  width: 100%;
}

.env-top-invisible{
  height:50%;
  background-color: transparent;
}

.env-back{
  width: 50vw;
  height: 40vh;
  background-color: #267b9e;
  border-radius: 0px 0px 20px 20px;
}

.open-envelop{
  width: 50vw;
  height: 40vh;
  position: relative;
  top: -40vh;
  z-index:5;
}

/* envelop end */